<div>
  <% if hot %>
    <div>
      Above <%= hot.value %><span>&#8451;</span> is <span class="text-danger">Hot</span>.
    </div>
  <% end %>

  <% if hot and cold %>
   <div>
     Between <%= cold.value %><span>&#8451;</span> and <%= hot.value %><span>&#8451;</span> is <span class="text-warning">Warm</span>.
   </div>
  <% end %>

  <%if cold %>
    <div>
      Below <%= cold.value %><span>&#8451;</span> is <span class="text-info">Cold</span>.
    </div>
  <% end %>

  <% unless hot and cold %>
    No/Incomplete Temperature Information.
  <%end%>

</div>
