<h1> Weather Temperature Information </h1>

<div>
  Above <%= @hot.value %><span>&#8451;</span> is Hot.</br>
  Between <%= @cold.value %><span>&#8451;</span> and <%= @hot.value %><span>&#8451;</span> is Warm. </br>  
  Below <%= @cold.value %><span>&#8451;</span> is Cold. </br>
</div>
