<% if @response %>
  <h3> Temperature Results </h3>

  <div>
  <% if @hot && @cold %>
    <%= render partial: "weather_definitions", locals:{ hot: @hot, cold: @cold } %>
  <% end %>
  </div></br>

  <div>
    Max.Temp: <%= @response[:max_temp_c] %><span>&#8451;</span></br>
    Today's is <b><%= @response[:today] %></b>
  </div>
<% else %>
  <div> Invalid response. Please check postcode entered. </div>
<% end %>
<div>
  <%= link_to 'Back', root_path %>
</div>